# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
*.egg-info/

# Node.js (if any)
node_modules/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/
*.zip

#backup
*.bak